ul.list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    li {
        position: relative;
        font-size: 17px;
    }

    &.list-borderbullet,
    &.list-accentbullet {
        li {
            &::before {
                content: '';
                position: absolute;
                box-sizing: border-box;
                border-radius: 50%;
                left: 0;
                top: calc((17px * 1.5) / 2);
                transform: translate(0, -50%);
            }
        }
    }

    &.list-borderbullet {
        gap: 20px;

        li {
            padding: 0px 0px 0px 39px;
            

            &::before {
                width: 25px;
                height: 25px;
                background: #fff;
                border: 6px solid $accent;
            }
        }
    }

    &.list-accentbullet {
        gap: 16px;

        li {
            padding: 0px 0px 0px 28px;

            @media (max-width: 767px) {
                padding: 0px 0px 0px 19px;
            }

            &::before {
                width: 15px;
                height: 15px;
                background: $accent;
                border-radius: 50%;
            }
        }
    }

    &.list-numbers {
        gap: 16px;
        width: 100%;

        @media (max-width: 767px) {
            li {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }

        .number {
            font-size: 25px;
        }
    }
}