$blue: #0072ff;
$accent: #e75323;
$gradient: linear-gradient(90deg, #107AFF 0%, #4A9AFF 50.78%, #147CFF 100%);
$box_bg: #303030;
$box_border: #414141;
$second: #828282;
$gray: #C9C9C9;
$input_placeholder: #8C8C8C;